html {
	height: 100%
}
body {
    font-family: 'Oxygen', sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px
}
#map-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#time-slider-div {
	position: absolute;
	background-color: #ffffff;
	width: 50%;
	bottom: 5%;
	left: 5%;
	z-index: 99;
	padding: 10px;
	visibility: hidden;
}

#info-div {
	position: absolute;
	background-color: #ffffff;
	width: 35%;
	height: 20%;
	bottom: 5%;
	right: 5%;
	z-index: 99;
	padding: 10px;
	overflow: auto;
	visibility: hidden;
}

#year-view-div {
	position: absolute;
	font-size: 50px;
	font-weight: bold;
	color: #A5A5A5;
	width: 25%;
	height: 10%;
	top: 5%;
	right: 1%;
	z-index: 99;
	padding: 10px;
	overflow: auto;
	visibility: hidden;
}

#next-btn{
	display: none;
}

#welcome-view-div {
	position: absolute;
	background-color: white;
	overflow: auto;
	padding: 10px;
	z-index: 200;
	top: 25%;
	left:25%;
	height: 50%;
	width:50%;
}

.centered {
	text-align: center;
}

.slider-year {
	width: 1.4%;
	text-align: center;
	float: left;
	cursor: pointer;
	background-color: #FF0000;
}

.slider-year.passive {
	background-color: #FF0000;
}

.slider-year.active {
	background-color: #00FF00;
}
